<!DOCTYPE html>
<html lang="pt-BR">
<html>
	<head>
	 	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
		<title>Fila Virtual</title>				
   	</head>

	<body>
		<div class="container">
			<h1>Essa é a nossa aplicação</h1>	
			{% block content %}{% endblock %}
		</div>
		<footer>Todos os direitos reservados</footer>
	</body>
</html> 